[submodule "extension/external/glfw"]
	path = extension/external/glfw
	url = https://github.com/glfw/glfw
[submodule "extension/external/cglm"]
	path = extension/external/cglm
	url = https://github.com/recp/cglm
[submodule "external/miniaudio"]
	path = external/miniaudio
	url = https://github.com/mackron/miniaudio.git
[submodule "extension/external/miniaudio"]
	path = extension/external/miniaudio
	url = https://github.com/mackron/miniaudio.git
