[submodule "game/external/glfw"]
	path = game/external/glfw
	url = https://github.com/glfw/glfw
[submodule "game/external/cglm"]
	path = game/external/cglm
	url = https://github.com/recp/cglm
[submodule "game/external/miniaudio"]
	path = game/external/miniaudio
	url = https://github.com/mackron/miniaudio.git
